/*초기 설정*/
* {
    margin: 0;
    padding: 0;
}

/*UL OL 불릿 없애기*/
ul,
ol {
    list-style: none;
}


/*a태그 글자색 검정, 밑줄 없애기 */
a {
    color: #7d7979;
    text-decoration: none;
}

/*바디 기본 설정*/

body {
    font-family: "나눔스퀘어", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #7d7979;
}

/*사진 100%*/
img {
    display: block;
    width: 100%;
}

/*폰트*/

/*SB어그로*/
@font-face {
    font-family: 'SBAggro';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/sandbox/SBAggroLight.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/sandbox/SBAggroLight.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/sandbox/SBAggroLight.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/sandbox/SBAggroLight.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/sandbox/SBAggroLight.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'SBAggro';
    font-weight: 500;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/sandbox/SBAggroMedium.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/sandbox/SBAggroMedium.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/sandbox/SBAggroMedium.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/sandbox/SBAggroMedium.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/sandbox/SBAggroMedium.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'SBAggro';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/sandbox/SBAggroBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/sandbox/SBAggroBold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/sandbox/SBAggroBold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/sandbox/SBAggroBold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/sandbox/SBAggroBold.ttf') format("truetype");
    font-display: swap;
}

/*카페24빛나는별*/
@font-face {
    font-family: 'Cafe24Shiningstar';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Shiningstar.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*배달의민족한나*/
@import url(//fonts.googleapis.com/earlyaccess/hanna.css);

.hanna * {
    font-family: 'Hanna', fantasy;
}

/*닉스곤*/
@font-face {
    font-family: 'NIXGONM-Vb';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/NIXGONM-Vb.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*나눔스퀘어*/
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');


/*  모든 자세히 보기 공통 구미기 설정  */



/****************pc****************/
@media (min-width:1000px) {
    .hlink a {
        display: inline-block;
        color: #7d7979;
        padding: 1% 10%;
        font-size: 14px;
        font-weight: 21px;
        border: #7d7979 solid 1px;
    }

}


/****************tablet****************/
@media (min-width:700px) and (max-width:999px) {
    .hlink a {
        display: inline-block;
        color: #7d7979;
        padding: 1% 10%;
        font-size: 14px;
        font-weight: 21px;
        border: #7d7979 solid 1px;
    }
}


/****mobile****/
@media (max-width:699px) {
    .hlink a {
        display: inline-block;
        color: #7d7979;
        padding: 1% 10%;
        font-size: 16px;
        font-weight: 24px;
        border: #7d7979 solid 1px;
    }

}


/** body 설정 끝**/
/** Header 설정 시작**/

#header_wrap {
    width: 100%;
    overflow: hidden;
    background: rgba(123, 69, 2, 0.5);
    z-index: 999;
}



/****************pc****************/
@media (min-width:1000px) {
    #header_wrap_mobile {
        display: none;
    }

    .header {
        width: 80%;
        overflow: hidden;
        margin: 0 auto;
        text-align: center;
        position: relative;

    }

    .header h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -48px;
        margin-left: -49px;
    }

    .gnb {
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .gnb li {
        display: inline-block;
        width: 20%;
        margin: 0 3%;

    }

    .gnb li:nth-child(3) {
        padding: 0 50px;
    }

    .gnb li a {
        display: block;
        font-size: 20px;
        color: #ffffff;
        font-weight: 600;

    }

    .gnb li a:hover {
        color: #ea6325;
    }

}

/****************tablet****************/
@media (min-width:700px) and (max-width:999px) {
    #header_wrap_mobile {
        display: none;
    }

    .header {
        width: 100%;
        height: 100px;
        overflow: hidden;
        margin: 0 auto;
        text-align: center;
        position: relative;

    }

    .header h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -48px;
        margin-left: -49px;
    }

    .gnb {
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .gnb li {
        display: inline-block;
        width: 20%;
        margin: 0 3%;

    }

    .gnb li:nth-child(3) {
        padding: 0 50px;
    }

    .gnb li a {
        display: block;
        font-size: 20px;
        color: #ffffff;
        font-weight: 600;

    }

    .gnb li a:hover {
        color: #ea6325;
    }
}


/****************mobile****************/
@media (max-width:699px) {
    #header_wrap {
        display: none;
    }

    #header_wrap_mobile {
        display: block;
        padding-bottom: 0;
    }

    #header_wrap_mobile .gnb {
        display: flex;
        justify-content: space-between;
    }

    #header_wrap_mobile .gnb li {
        width: 25%;
        background-color: #EA6325;
        text-align: center;
        border: #7a4228 1px solid;
    }

    #header_wrap_mobile .gnb li a {

        display: block;
        font-size: 11px;
        color: #fff;
        font-weight: 600;
        padding: 10%;
    }

    #header_wrap_mobile .gnb li a:hover {
        color: #522612;
    }
}

/*#header 설정 끝*/
/*#header_banner 설정*/

.jb-box {
    width: 100%;
    height: 800px;
    overflow: hidden;
    margin: 0px auto;
    position: relative;
}

video {
    height: 100%;
    position: absolute;
    left: 50%;
    margin-left: -960px;
}


/*#header_banner 설정 끝*/
/*#welcom 설정*/

#welcome_wrap {
    width: 100%;
    overflow: hidden;
    background-size: 100% 78%;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: 0 0%;
    background-image: url(../images/index/2.welcome/bg.png);
}

.welcome {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;

}

.wel_left {
    float: left;
    width: 50%;
    margin-bottom: 5%;
    padding-top: 2%;
}

.wel_left .pic_wrap {
    padding: 15px;
    width: 87%;
    background-color: #ffffff;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
}

.wel_right {
    float: right;
    width: 50%;
    padding-top: 2%;
}

.wel_right .text {
    width: 100%;
    overflow: hidden;
    padding: 1% 0 5%;

}

.wel_right .text .p01 {
    font-family: 'SBAggro';
    color: #EA6325;
    font-size: 34px;
    line-height: 1.2em;
    font-weight: 500;
}

.wel_right .text .p01_1 {
    display: none;
}

.wel_right .text .p02 {
    font-family: 'Cafe24Shiningstar';
    color: #7B4025;
    font-size: 22px;
    margin-bottom: 6%;
}

.wel_right .text .nomal {
    width: 83%;
    font-family: 'NIXGONM-Vb';
    color: #333333;
    font-size: 16px;
    padding: 1% 0 3%;
    line-height: 21px;
}

.wel_right .text .p05 span {
    color: #EA6325;
    font-weight: 500;
}

.wel_right .text .wel_link a {
    float: right;
}

.wel_right .wel_pic {
    width: 100%;
    margin-bottom: 10%;
    display: flex;
    justify-content: space-between;
}

.wel_right .wel_pic li {
    padding: 2%;
    width: 28%;
    background-color: #ffffff;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
}

/****************pc****************/
@media (min-width:1000px) {
    .welcome {
        padding: 5% 0 0;
    }

    .wel_right .text .p05_1 {
        display: none;
    }

}


/****************mobile****************/
@media (max-width:699px) {
    .welcome {
        padding-top: 8%;
        width: 100%;
        text-align: center;
        background-color: #F1DABD;
    }

    .wel_left {
        display: inline-block;
        width: 90%;
        float: none;
    }

    .wel_left .pic_wrap {
        box-sizing: border-box;
        padding: 3%;
        width: 100%;
    }

    .wel_right {
        display: inline-block;
        width: 96%;
        margin: 0 auto;
        padding: 0;
        float: none;
        text-align: center;
    }

    .wel_right .text {
        display: inline-block;
        width: 100%;
        overflow: hidden;
        padding: 7% 0;
        margin-bottom: 3%;
    }

    .wel_right .text .p01 {
        display: none;
    }

    .wel_right .text .p01_1 {
        display: inline-block;
        font-family: 'SBAggro';
        color: #EA6325;
        font-size: 32px;
        line-height: 1.2em;
        font-weight: 700;
        padding: 0 0 2%;
    }

    .wel_right .text .p02 {
        display: none;
    }

    .wel_right .text .p03 {
        display: none;
    }

    .wel_right .text .p04 {
        display: none;
    }

    .wel_right .text .p05 {
        display: none;
    }

    .wel_right .text .p05_1 {
        display: inline-block;
        font-family: 'SBAggro';
        font-weight: 300;
        text-align: center;
        font-size: 16px;
        color: #333333;
        padding: 5% 0;
        line-height: 1.2em;
    }

    .wel_right .text .p05_1 span {
        color: #EA6325;
        font-weight: 500;


    }

    .wel_right .text .wel_link a {
        padding: 1% 5%;
        float: none;
    }

    .wel_right .wel_pic {
        width: 100%;
        margin-bottom: 10%;
        display: flex;
        justify-content: space-between;
    }

    .wel_right .wel_pic li {
        padding: 2%;
        width: 28%;
        background-color: #ffffff;
        box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
    }

}

/*#welcom 설정 끝*/

/*#new_product 설정*/
#new_product_wrap {
    width: 100%;
    padding-top: 5%;

}

.new_product {
    width: 80%;
    margin: 0 auto;
    margin-top: 5%;
    background-color: #ffffff;
    border-radius: 20px;
    overflow: hidden;
}


.new_prod_box {
    display: flex;
    justify-content: space-around;
    padding: 1%;
}

.new_product ul {
    width: 33%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.new_product .section1 {
    float: left;
}

.new_product .section1 li {
    width: 100%;
}

.new_product li:nth-child(1) {
    width: 100%;
    margin-bottom: 3%;
}

.new_product .section2 {
    float: left;
    margin: 0 1%;
}

.new_product .section2 li:nth-child(2) {
    border: #EA6325 solid 1px;
    border-radius: 20px;
    text-align: center;
    height: 48.5%;
}

/*타이틀*/
.new_product .section2 li:nth-child(2) .p01 {
    font-family: 'SBAggro';
    font-size: 40px;
    font-weight: 700;
    padding: 15% 0 13%;
    color: #EA6325;
}

/*내용*/
.new_product .section2 li:nth-child(2) .p02 {
    font-family: 'SBAggro';
    font-size: 15px;
    font-weight: 300;
    padding: 0 3% 7%;
    color: #7d7979;
}

.new_product .section2 li:nth-child(2) .p02 span {
    color: #EA6325;
}


.new_product .section3 {
    width: 33%;
    float: right;
    box-sizing: border-box;
}

/****************pc****************/
@media (min-width:1000px) {
    #new_product_wrap {
        padding-bottom: 8%;
        background-size: 100% 100%;
        background-color: #ffffff;
        background-repeat: no-repeat;
        background-position: 0 0%;
        background-image: url(../images/index/3.new_products/new_prod_bg.png);
    }
}

/****************tablet****************/
@media (min-width:700px) and (max-width:999px) {
    #new_product_wrap {
        background-size: 100% 100%;
        background-color: #ffffff;
        background-repeat: no-repeat;
        background-position: 0 0%;
        background-image: url(../images/index/3.new_products/new_prod_bg.png);
        width: 100%;
        padding-bottom: 8%;
        overflow: hidden;
    }

    .new_product {
        width: 96%;
        margin: 5% auto;

    }

    .new_product .section2 li:nth-child(2) .p01 {
        font-size: 24px;
    }

    /*내용*/
    .new_product .section2 li:nth-child(2) .p02 {
        font-size: 10px;
        line-height: 1.2em;
    }



}


/****************mobile****************/
@media (max-width:699px) {

    #new_product_wrap {
        width: 100%;
        overflow: hidden;
        background-color: #ffffff;
    }

    .new_product {
        width: 96%;
        margin: 5% auto;
        background-color: #ffffff;
        border: #C8B37B solid 2px;
        border-radius: 20px;
        overflow: hidden;
    }

    .new_prod_box {
        background-image: url(../images/index/3.new_products/mobile/new_prod_mob.png);
        background-repeat: no-repeat;
        background-position: 50% 0;
        background-size: contain;
    }

    .new_product ul {
        width: 100%;
    }

    .new_product .section1 {
        display: none;
        float: left;
    }

    .new_product .section1 li {
        display: none;
    }

    .new_product .section2 {
        float: left;
        margin: 0 1%;
    }

    .new_product .section2 li:nth-child(1) {
        display: none;

    }

    .new_product .section2 li:nth-child(2) {
        border: none;
        margin-top: 80%;
        padding-bottom: 3%;
    }

    /*타이틀*/
    .new_product .section2 li:nth-child(2) .p01 {
        font-family: 'SBAggro';
        font-size: 33px;
        font-weight: 700;
        padding: 20% 0 12%;
        color: #EA6325;
    }

    /*내용*/
    .new_product .section2 li:nth-child(2) .p02 {
        font-family: 'SBAggro';
        font-size: 16px;
        padding: 0 3% 5%;
        color: #333333;

    }

    .new_product .section2 li:nth-child(2) .p02 span {
        color: #EA6325;
    }

    /*링크*/
    .new_product .hlink {
        margin: 3% 0 6%;
    }

    .new_product .section3 {
        display: none;
    }

}

/*#new_product 설정 끝*/
/*#product 설정*/

#products {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    padding-top: 8%;
    padding-bottom: 8%;
}

#products .left {
    width: 66.66%;

}

#products .right {
    width: 33.33%;

}


/*사진 크기 조절*/

#products .section1 li {
    width: 100%;
    float: left;
}


#products .section2 li:nth-child(1) {
    width: 50%;
    float: left;
}

#products .section2 li:nth-child(2) {
    width: 50%;
    float: left;
}

#products .section2 li:nth-child(2) img {
    width: 100%;
}

#products .section2 li:nth-child(3) {
    width: 50%;
    float: left;
}


/*호버캡션 글자 위치 조정*/
#products .caption .title {
    color: #fff;
    font-family: 'SBAggro';
    font-weight: 700;
    font-size: 2vw;
    padding-bottom: 5%;

}

#products .caption .link {
    color: #fff;
    display: inline-block;
    padding: 1% 4%;
    border: 1px solid #fff;
}


#products .section1 .title {
    padding-top: 3%;
    padding-bottom: 3%;
    line-height: 1.2em;

}

#products .section2 li:nth-child(1) a {
    padding: 40% 0 0 0;

}

#products .section3 li:nth-child(1) a {
    padding: 50% 0 0 0;
}




/*호버 캡션 설정*/

#products li:hover {
    opacity: 1;
    transition: opacity 1.5s;
}

#products li {
    position: relative;
    transition: opacity 1.5s;
}

#products .caption {
    overflow: hidden;
    text-align: center;
    width: 100%;

}

#products .caption a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 20% 0 0;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 900;
    transition: opacity 1.5s;
}

#products .caption a:hover {
    opacity: 1;
    color: #ffffff;
}

#products .section1 .caption a {
    padding: 8% 0 0;
}

#products_mobile {
    display: none;
}



/*pc*/
@media (min-width:1000px) {}

/*tablet*/
@media (min-width:700px) and (max-width:999px) {
    #products {
        width: 96%;

    }

}

/*mobile*/
@media (max-width:699px) {
    #products {
        display: none;
    }

    #products_mobile {
        display: block;
        margin-bottom: 10%;
    }

    #products_mobile li {
        width: 100%;
        position: relative;
    }

    #products_mobile a {
        display: block;
        width: 100%;
        overflow: hidden;
        padding: 13% 0;
    }

    /*사진 배경 설정*/
    #products_mobile li:nth-child(2) {
        background: url(../images/index/4.products/mobile/prod_mob_1.png) no-repeat 50% 0;
        background-size: 100%;
    }

    #products_mobile li:nth-child(3) {
        background: url(../images/index/4.products/mobile/prod_mob_2.png) no-repeat 50% 0;
        background-size: 100%;
    }

    #products_mobile li:nth-child(4) {
        background: url(../images/index/4.products/mobile/prod_mob_3.png) no-repeat 50% 0;
        background-size: 100%;
    }

    #products_mobile li:nth-child(5) {
        background: url(../images/index/4.products/mobile/prod_mob_4.png) no-repeat 50% 0;
        background-size: 100%;
    }

    #products_mobile li:nth-child(6) {
        background: url(../images/index/4.products/mobile/prod_mob_5.png) no-repeat 50% 0;
        background-size: 100%;
    }

    /*글자 설정*/
    #products_mobile li p {
        color: #ffffff;
        line-height: 1.2EM;
        font-family: 'SBAggro';
        font-weight: 700;
    }

    /*타이틀*/
    #products_mobile li:nth-child(1) a {
        margin-top: 5%;
        padding: 0 0 5%;
    }

    #products_mobile li:nth-child(1) .p01 {
        color: #EA6325;
        font-size: 35px;
        text-align: center;
    }

    #products_mobile li:nth-child(1) .p02 {
        color: #333333;
        font-size: 13px;
        text-align: center;
        font-weight: 500;
        padding-top: 1%;
    }

    /*텐트*/
    #products_mobile li:nth-child(2) p {
        position: absolute;
        right: 8%;
        top: 32%;
    }

    /*침구*/
    #products_mobile li:nth-child(3) p {
        position: absolute;
        left: 6%;
        top: 40%;
    }

    /*가구*/
    #products_mobile li:nth-child(4) p {
        position: absolute;
        right: 4.5%;
        top: 40%;
    }

    /*키친*/
    #products_mobile li:nth-child(5) p {
        position: absolute;
        left: 6%;
        top: 40%;
    }

    /*기타*/
    #products_mobile li:nth-child(6) p {
        position: absolute;
        right: 11%;
        top: 43%;
    }

}

/*#product 설정 끝*/
/*#event_banner 설정*/


.event_banner .box .title {
    font-family: 'SBAggro';
    font-size: 35px;
    font-weight: 700;
    line-height: 1.2em;
    color: #fff;
    padding-bottom: 4.5%;
}

.event_banner .box .title span {
    color: #EA6325;
}

.event_banner .box .p01 {
    font-family: 'Cafe24Shiningstar';
    font-size: 28px;
    color: #EA6325;
    padding-bottom: 1.5%;
}

.event_banner .box .p02 {
    font-family: 'SBAggro';
    font-weight: 300;
    font-size: 20px;
    color: #fff;
    padding-bottom: 6%;
}



/****************pc****************/
@media (min-width:1000px) {
    #event_banner_wrap {
        padding-bottom: 0%;
        background-repeat: no-repeat;
        background-position: 50% 0%;
        background-size: 100% 100%;
        background-image: url(../images/index/5.event_banner/event_bg.png);
        width: 100%;
        margin-bottom: 7%;
        height: 500px;
    }

    .event_banner {
        width: 60%;
        padding: 5% 0 0;
        margin: 0 auto;
        text-align: center;
    }

    .event_banner .box {
        display: inline-block;
        width: 60%;
        padding: 5% 8%;
        border: #EA6325 1px solid;
        border-radius: 20px;
        background-color: rgba(0, 0, 0, 0.7);

    }

}

/****************tablet****************/
@media (min-width:700px) and (max-width:999px) {
    #event_banner_wrap {
        padding-bottom: 0%;
        background-repeat: no-repeat;
        background-position: 50% 0%;
        background-size: 100% 100%;
        background-image: url(../images/index/5.event_banner/event_bg.png);
        width: 100%;
        margin-bottom: 7%;
    }

    .event_banner {
        width: 85%;
        padding: 5% 0;
        margin: 0 auto;
        text-align: center;
    }

    .event_banner .box {
        display: inline-block;
        width: 50%;
        padding: 5% 10%;
        border: #EA6325 1px solid;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.7);
    }

}

/****************mobile****************/
@media (max-width:699px) {

    #event_product_wrap {
        width: 100%;
        overflow: hidden;
        background-color: #ffffff;

    }

    .event_banner {
        width: 96%;
        margin: 5% auto 0;
        background-color: #ffffff;
        border: #C8B37B solid 2px;
        border-radius: 20px;
        overflow: hidden;
    }

    .event_banner .box {
        background-image: url(../images/index/5.event_banner/mobile/event_mob_bg_.png);
        background-repeat: no-repeat;
        background-position: 50% 0;
        background-size: 100%;
        overflow: hidden;
        text-align: center;
        padding-bottom: 8%;
    }

    .event_banner .box .text {
        padding: 15px 10px 0;
    }

    .event_banner .box .title {
        font-size: 30px;
        line-height: 1.2em;
        color: #333333;
        padding-top: 90%;
        padding-bottom: 4.5%;
    }

    .event_banner .box .title span {
        color: #EA6325;
    }

    .event_banner .box .p01 {
        font-family: 'Cafe24Shiningstar';
        font-size: 28px;
        color: #EA6325;
        padding-bottom: 1.5%;
    }

    .event_banner .box .p02 {
        font-family: 'SBAggro';
        font-weight: 500;
        font-size: 11px;
        color: #333333;
        padding-bottom: 6%;
    }



}

/*#event_banner 설정 끝*/
/*#SNS 설정*/

#sns_wrap {
    background-image: url(../images/index/6.SNS/sns_bg.png);
    padding: 2% 0;
    margin-bottom: 5%;
}

#sns_wrap .title p {
    text-align: center;
    padding: 3% 0 0;
    font-size: 40px;
    font-weight: 900;
    color: #EA6325;
}


#sns_wrap .slider {
    width: 80%;
    margin: 50px auto;
}

#sns_wrap .slick-slide {
    margin: 0px 10px;
}

#sns_wrap .slick-slide img {
    width: 100%;
}

#sns_wrap .slick-prev:before,
#sns_wrap .slick-next:before {
    color: black;
}


#sns_wrap .slick-slide {
    transition: all ease-in-out .3s;
    opacity: 1;
}

#sns_wrap .slick-active {
    opacity: 1;
}

#sns_wrap .slick-current {
    opacity: 1;
}

/****************pc****************/
@media (min-width:1000px) {
    #sns_wrap_mobile {
        display: none;
    }

}

/****************tablet****************/
@media (min-width:700px) and (max-width:999px) {

    #sns_wrap .slider {
        width: 100%;

    }

    #sns_wrap_mobile {
        display: none;
    }


}

/****************mobile****************/
@media (max-width:699px) {
    #sns_wrap {
        display: none;

    }

    #sns_wrap_mobile {
        display: block;
        margin-top: 5%;
        padding: 4% 0;
        background-image: url(../images/index/6.SNS/sns_bg.png);

    }

    #sns_wrap_mobile .title p {
        font-family: 'SBAggro';
        text-align: center;
        padding: 6% 0;
        font-size: 25px;
        font-weight: 700;
        color: #EA6325;
    }

    #sns_wrap_mobile .swiper {
        width: 100%;
        height: 100%;
    }

    #sns_wrap_mobile .swiper-slide {
        text-align: center;
        font-size: 18px;
        background-image: url(../images/index/6.SNS/sns_bg.png);

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    #sns_wrap_mobile .swiper-slide img {
        display: block;
        width: 75%;
        height: 100%;
        object-fit: cover;
    }


}


/*#SNS 설정 끝*/
/*#store_banner 설정*/

.store_banner .box .title {
    font-family: 'SBAggro';
    font-weight: 700;
    font-size: 38px;
    color: #EA6325;
    padding: 10% 0 15%;
}

.store_banner .box .p01 {
    font-family: 'SBAggro';
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    padding-bottom: 15%;
    font-weight: 100;
}

.store_banner .box span {
    color: #EA6325;
}




/****************pc****************/
@media (min-width:1000px) {
    #store_banner_wrap {
        background-repeat: no-repeat;
        background-position: 50% 0%;
        background-size: 100% 100%;
        background-image: url(../images/index/7.flgship/flag_bg.png);
        width: 100%;
        height: 33vw;
        overflow: hidden;
        box-sizing: border-box;
        margin-bottom: 3%;

    }

    .store_banner {
        width: 65%;
        padding: 4% 0;
        margin: 0 auto;
        box-sizing: border-box;
    }

    .store_banner .box {
        display: inline-block;
        width: 40%;
        padding: 3% 8%;
        border: #EA6325 1px solid;
        border-radius: 10px;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.7);

    }

    .store_banner .box .p01 {
        width: 90%;
        margin: 0 auto;
    }

    .store_banner .box .p01_1 {
        display: none;
    }


}

/****************tablet****************/
@media (min-width:700px) and (max-width:999px) {
    #store_banner_wrap {

        background-repeat: no-repeat;
        background-position: 50% 0%;
        background-size: 100% 100%;
        background-image: url(../images/index/7.flgship/flag_bg.png);
        width: 100%;
        overflow: hidden;
        box-sizing: border-box;
        margin-bottom: 3%;

    }

    .store_banner {
        width: 80%;
        padding: 5% 0;
        margin: 0 auto;

    }

    .store_banner .box {
        display: inline-block;
        width: 35%;
        padding: 5% 10%;
        border: #EA6325 1px solid;
        border-radius: 10px;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.7);

    }


    .store_banner {
        width: 85%;
        text-align: center;
    }

    .store_banner .box {
        display: inline-block;
        width: 50%;
        padding: 5% 10%;
        border: #EA6325 1px solid;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.7);
    }

}

/****************mobile****************/
@media (max-width:699px) {

    #store_banner_wrap {
        background-color: #ffffff;
    }

    .store_banner {
        width: 96%;
        margin: 5% auto;
        background-color: #ffffff;
        border: #C8B37B solid 2px;
        border-radius: 20px;
        overflow: hidden;

    }

    .store_banner .box {
        background-image: url(../images/index/7.flgship/mobile/flag_mob_bg.png);
        background-repeat: no-repeat;
        background-position: 50% 0;
        background-size: 100%;
        overflow: hidden;
        text-align: center;
        padding-bottom: 8%;
    }

    .store_banner .box .title {
        font-family: 'SBAggro';
        font-weight: 700;
        font-size: 29px;
        line-height: 1.2em;
        color: #EA6325;
        padding-top: 90%;
        padding-bottom: 6%;
    }

    .store_banner .box .p01 {
        display: none;
    }

    .store_banner .box .p01_1 {
        display: block;
        width: 90%;
        margin: 0 auto;
        font-family: 'SBAggro';
        font-weight: 300;
        font-size: 14px;
        color: #333333;
        padding-bottom: 10%;

    }

    .store_banner .box .title span {
        color: #EA6325;
    }


}

/*#store_banner 설정 끝*/
/*#community 설정*/

#community {
    width: 80%;
    height: 600px; 
        margin: 0 auto;
    overflow: hidden;
    margin-bottom: 10%;
    position: relative;

}

#community .title {
    font-family: 'SBAggro';
    font-weight: 700;
    text-align: center;
    padding: 3% 0 3%;
    font-size: 40px;
    font-weight: 900;
    color: #EA6325;
}

/******* PC전용 슬라이드 *******/
#community .flex-container {
    position: absolute;
    height: 60vh;
    width: 100%;
    display: -webkit-flex;
    /* Safari */
    display: flex;
    overflow: hidden;
}


@media screen and (max-width: 768px) {

    #community .flex-container {
        flex-direction: column;
    }
}



#community .flex-title {
    color: #f1f1f1;
    font-family: 'SBAggro';
    font-weight: 500;
    position: relative;
    font-size: 40px;
    margin: auto;
    text-align: center;
    transform: rotate(90deg);
    top: 20%;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

@media screen and (max-width: 768px) {

    #community .flex-title {
        transform: rotate(0deg) !important;
    }
}

#community .flex-about {
    opacity: 0;
    color: #ffffff;
    position: relative;
    width: 23%;
    font-size: 14px;
    padding: 1%;
    top: 50%;
    border: 1px solid #f1f1f1;
    border-radius: 10px;
    line-height: 1.3;
    margin: auto;
    text-align: center;
    transform: rotate(0deg);
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

@media screen and (max-width: 768px) {

    #community .flex-about {
        padding: 0%;
        border: 0px solid #f1f1f1;
        text-align: center;
    }
}

#community .flex-slide {
    -webkit-flex: 1;
    /* Safari 6.1+ */
    -ms-flex: 1;
    /* IE 10 */
    flex: 1;
    cursor: pointer;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

@media screen and (max-width: 768px) {

    #community .flex-slide {
        overflow: auto;
        overflow-x: hidden;
    }
}

@media screen and (max-width: 768px) {

    #community .flex-slide p {
        font-size: 2em;
    }
}

@media screen and (max-width: 768px) {

    #community .flex-slide ul li {
        font-size: 2em;
    }
}

#community .flex-slide:hover {
    -webkit-flex-grow: 3;
    flex-grow: 3;
}


@media screen and (min-width: 768px) {

    #community .home {
        -moz-animation: aboutFlexSlide;
        -moz-animation-duration: 3s;
        -moz-animation-iteration-count: 1;
        -moz-animation-delay: 0s;
        -webkit-animation: aboutFlexSlide;
        -webkit-animation-duration: 3s;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-delay: 0s;
        animation: aboutFlexSlide;
        animation-duration: 3s;
        animation-iteration-count: 1;
        animation-delay: 0s;
    }
}

@keyframes aboutFlexSlide {
    0% {
        -webkit-flex-grow: 1;
        flex-grow: 1;
    }

    50% {
        -webkit-flex-grow: 3;
        flex-grow: 3;
    }

    100% {
        -webkit-flex-grow: 1;
        flex-grow: 1;
    }
}

@media screen and (min-width: 768px) {

    #community .flex-title-home {
        transform: rotate(90deg);
        top: 15%;
        -moz-animation: homeFlextitle;
        -moz-animation-duration: 3s;
        -moz-animation-iteration-count: 1;
        -moz-animation-delay: 0s;
        -webkit-animation: homeFlextitle;
        -webkit-animation-duration: 3s;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-delay: 0s;
        animation: homeFlextitle;
        animation-duration: 3s;
        animation-iteration-count: 1;
        animation-delay: 0s;
    }
}

@keyframes homeFlextitle {
    0% {
        transform: rotate(90deg);
        top: 15%;
    }

    50% {
        transform: rotate(0deg);
        top: 15%;
    }

    100% {
        transform: rotate(90deg);
        top: 15%;
    }
}

#community .flex-about-home {
    opacity: 0;
}

@media screen and (min-width: 768px) {

    #community .flex-about-home {
        -moz-animation: flexAboutHome;
        -moz-animation-duration: 3s;
        -moz-animation-iteration-count: 1;
        -moz-animation-delay: 0s;
        -webkit-animation: flexAboutHome;
        -webkit-animation-duration: 3s;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-delay: 0s;
        animation: flexAboutHome;
        animation-duration: 3s;
        animation-iteration-count: 1;
        animation-delay: 0s;
    }
}

@keyframes flexAboutHome {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

#community .home {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/index/8.community/comm_1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 center;
    background-attachment: fixed;
}

#community .about {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/index/8.community/comm_2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

#community .contact-form {
    width: 100%;
}

#community input {
    width: 100%;
}

#community textarea {
    width: 100%;
}

#community .work {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/index/8.community/comm_3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% center;
    background-attachment: fixed;
}

#community .spinner {
    position: fixed;
    top: 0;
    left: 0;
    background: #222;
    height: 100%;
    width: 100%;
    z-index: 11;
    margin-top: 0;
    color: #fff;
    font-size: 1em;
}

#community .cube1,
.cube2 {
    background-color: #fff;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
    animation: sk-cubemove 1.8s infinite ease-in-out;
}

#community .cube2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
    25% {
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    }

    50% {
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    }

    75% {
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    }

    100% {
        -webkit-transform: rotate(-360deg);
    }
}

@keyframes sk-cubemove {
    25% {
        transform: translateX(42px) rotate(-90deg) scale(0.5);
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    }

    50% {
        transform: translateX(42px) translateY(42px) rotate(-179deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
    }

    50.1% {
        transform: translateX(42px) translateY(42px) rotate(-180deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    }

    75% {
        transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    }

    100% {
        transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
    }
}

/******* 모바일 전용 고정 *******/


/****************mobile****************/
@media (min-width:1000px) {
    .community_mobile {
        display: none;
    }
}


/****************mobile****************/
@media (max-width:699px) {
    #community {
        width: 96%;
        height: 10%;
        margin: 0 auto;
        overflow: hidden;
        margin-bottom: 10%;
        position: relative;
        padding-bottom: 10%;
    }

    #community .flex-container {
        display: none;
    }

    #community .community_mobile {
        display: block;
    }

    #community {
        padding-top: 5%;
    }
    #community .title{
        font-size: 33px;
    }


    .community_mobile ul{
        width: 100%;
        padding: 5% 0 0;
        display: flex;
        justify-content: space-between;
        
    }

    .community_mobile ul li{
        width: 32%;
        text-align: center;
        overflow: hidden;
        background-color: #BBBBBB;
    }

    .community_mobile ul li a{
        display: block;
        font-size: 20px;
        padding-bottom: 10%;

    }

}



/*#community 설정 끝*/
/*#footer 설정*/
#footer_wrap {
    width: 100%;
    background-color: #EA6325;
    overflow: hidden;
    font-size: 14px;
}

#footer_wrap .footer {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 2% 0 3%;
    box-sizing: border-box;
}

.footer h2 {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin-bottom: 1%;
}

.footer .sns_links {
    clear: both;
    margin: 0 auto;
    width: 25%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3%;
}

.footer .info {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 3%;
    color: #fff;
}

.footer .info .contact {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer .text {
    width: 30%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer .text a {
    font-weight: 600;
    color: #fff;
}

#footer_wrap .go_top {
    display: none;
}

/****************pc****************/
@media (min-width:1000px) {
    #footer_wrap .footer {
        width: 60%;
    }

}

/****************tablet****************/
@media (min-width:700px) and (max-width:999px) {
    #footer_wrap {
        font-size: 9px;
        overflow: hidden;
    }

    #footer_wrap .go_top {
        display: block;
        width: 100%;
        text-align: center;
    }

    #footer_wrap .go_top a {
        display: block;
        padding: 2% 0;
        width: 100%;
        font-size: 14px;
        background-color: #874524;
        color: #fff;
    }

    #footer_wrap .go_top .btn {
        width: 15px;
        display: inline-block;
    }

    #footer_wrap .footer {
        width: 100%;
    }

    .footer h2 {
        padding: 2% 0 0;
        width: 100px;
        height: 100px;
    }

    .footer .sns_links {
        width: 30%;
    }

    .footer .info {
        width: 100%;
    }

    .footer .info p {
        line-height: 10px;
        padding-bottom: 0;
    }

    .footer .info .contact {
        padding: 2% 0 0;
        line-height: 14px;
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    .footer .text {
        width: 30%;
    }
}

/****************mobile****************/
@media (max-width:699px) {
    #footer_wrap {
        font-size: 9px;
        overflow: hidden;
    }

    #footer_wrap .go_top {
        display: block;
        width: 100%;
        text-align: center;
    }

    #footer_wrap .go_top a {
        display: block;
        padding: 2% 0;
        width: 100%;
        font-size: 14px;
        background-color: #874524;
        color: #fff;
    }

    #footer_wrap .go_top .btn {
        width: 15px;
        display: inline-block;
    }

    #footer_wrap .footer {
        width: 100%;
    }

    .footer h2 {
        padding: 2% 0 0;
        width: 100px;
        height: 100px;
    }

    .footer .sns_links {
        width: 50%;
    }

    .footer .info {
        width: 100%;
    }

    .footer .info p {
        line-height: 10px;
        padding-bottom: 0;
    }

    .footer .info .contact {
        padding: 2% 0 0;
        line-height: 14px;
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    .footer .text {
        width: 60%;
    }
}
